TZ="__TZ__"
PUID="568"
PGID="568"
RENDER_GID="__RENDER_GID__"
TS_AUTHKEY=""
QBIT_PASSWORD="ChangeMe_qBit123"
POSTGRES_USER="immich"
POSTGRES_DB="immich"
POSTGRES_PASSWORD="ChangeMe_DB456"
DB_HOSTNAME="immich-db"
DB_USERNAME="immich"
DB_DATABASE_NAME="immich"
DB_PASSWORD="ChangeMe_DB456"
REDIS_HOSTNAME="immich-redis"
WAIT_FOR_RD="0"
ENABLE_USB_BACKUP="1"
USB_UUID=""
WEBHOOK_URL=""
INCOMPLETE_DAYS="14"
